.buttonRemove {
    display: inline-block;
}
.checkBox {
    display: inline-block;
}
.errorMessage {
    color: red;
}
.error {
    border: solid 3px red;
}
.default {
    display: inline-block;
}
.active{
    background-color: aquamarine;
}
.filter {
    display: inline-block;
}
.isDone {
    opacity: 0.5;
}